/* General */
body {
  background-color: #fff;
  color: #666;
  font: 16px/2 Verdana, sans-serif;
}

/* Section Headers */
h2 {
  background-color: #fff;
  font-size: 24px;
  font-weight: bold;
  color: #f07c17;
  margin-bottom: 29px;
}

.title {
  font-size: 48px;
  margin-top: 46px;
}

/* Section Content */
.mug {
  margin-top: 20px;
}

.features {
  border: 1px solid #ccc;
  margin-top: 30px;
  padding: 10px 30px 30px;
}
